.container {
  display: grid;
  grid-template-rows: 300px 100%;
}

.card {
  position: absolute;
}

.talon {
  margin-left: 10px;
}

#root {
  height: 100%;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
