body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  height: 100%;
  background: url("/solitaire-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-rows: 220px 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: 24px;
}

.card {
  position: absolute;
  width: 120px;
  height: auto;
}

.talon-foundation {
  margin-left: 12px;
}

.talon {
  margin-right: 32px;
}

.drop-target {
  position: relative;
  height: 186.33px;
  width: 120px;
}

.card-border {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 97%;
  width: 97%;
  border-radius: 10px;
}

.foundation-suit {
}

.timer-container {
  background-color: rgba(45, 45, 45, 0.85);
  width: 40px;
  height: 30px;
  padding: 0.3em 1.2em;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 10px;
  border: 1px solid black;
  margin: 0 0 20px 0;
  align-self: center;
}

.timer {
  margin: 0;
  font-size: 1.1rem;
  color: #ffffff;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
}

.top-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin-bottom: 12px;
  width: 110px;
  height: 40px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  background-color: #7c0785;
  text-align: center;
  transition: all 0.2s;
  vertical-align: middle;
  line-height: 1.4rem;
  align-self: center;
}

.svg-icon {
  vertical-align: middle;
  align-self: center;
  height: 1.4em;
  width: 1.4em;
  margin-right: 0.6em;
}

.widgets {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  align-content: flex-start;
  height: 124.15px;
}

.game-button:hover {
  background-color: #97389d;
}

.tableu-piles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media screen and (max-width: 940px) {
  .container {
    display: grid;
    grid-template-rows: 150px 100%;
  }

  .card {
    width: 80px;
  }

  .drop-target {
    position: relative;
    height: 124.14px;
    width: 80px;
  }
}

@media screen and (max-width: 710px) {
  .container {
    grid-template-rows: 200px 100%;
  }

  .card {
    width: 70px;
  }

  .drop-target {
    position: relative;
    height: 108.63px;
    width: 70px;
  }

  .tableu-piles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .top-wrapper {
    flex-direction: column-reverse;
  }

  .top-left-wrapper {
    flex-direction: row;
  }

  .widgets {
    display: flex;
    flex-direction: row;
    margin-right: 12px;
    align-content: center;
    justify-content: space-around;
    height: 80px;
  }

  @media screen and (max-width: 525px) {
    .container {
      grid-template-rows: 150px 100%;
    }

    .game-button {
      margin-bottom: 0;
    }

    .timer-container {
      margin-bottom: 0;
    }

    .widgets {
      margin-right: 0;
    }

    .container {
      padding: 8px;
    }

    .card {
      width: 45px;
    }

    .drop-target {
      position: relative;
      height: 69.83px;
      width: 45px;
    }

    .card-border {
      height: 95%;
      width: 95%;
    }
  }
}
